* {
  margin: 0 auto;
  box-sizing: border-box;
}
body {
  /* display:flex;
  flex-direction: column;
  justify-content: space-between; */
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(222, 255, 244);
  width: 100vw;
  height: 100vh;
}
#main-header {
  display: flex;
}
#navbar {
  margin: auto;
  padding: 5px 15px;
  font-size: 20px;
  font-weight: bolder;
  align-items: flex-start;
  background-color: #333;
  color: #fff;
  min-height: 30px;
}
#navbar ul {
  padding: 0;
  list-style: none;
}
#navbar li {
  display: inline;
}
#navbar a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 18px;
}
#navbar a:hover {
  color: aquamarine;
  background-color: rgb(99, 98, 98);
}
#sectionArea {
  /* display: flex; */
  align-items: center;
  min-height: 300px;
  max-width: 100%;
  text-align: center;
  font-weight: bolder;
  background-color: bisque;
  background-image: url("../Files/section-1.png");
  background-size: 100%;
  background-size: cover;
}
#sectionArea p {
  margin: 0 10%;
  font-size: 80px;
  color: aquamarine;
  -webkit-text-stroke: 2px rgb(69, 193, 228);
}
#sectionArea button {
  width: 200px;
  height: 50px;
  background-color: aquamarine;
  color: black;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 15px;
}
#sectionArea button:hover {
  background-color: rgb(65, 216, 65);
}
#collections {
  text-align: center;
}

#templates-section {
  padding-top: 15px;
}

#templates {
  padding-bottom: 20px;
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: blue;
  font-weight: bolder;
}

#templates img {
  width: 300px;
  height: 400px;
  border: 1px solid black;
  margin: 20px;
}

#templates img:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
/* css for about us */
.aboutUs {
  padding: 20px 10%;
  min-height: 500px;
}

/* login in page  */
.signIn {
  box-shadow: 0 0 20px rgba(33, 33, 33, 0.2);
  padding: 10px 15px;
  background-color: antiquewhite;
  margin: 2% 30%;
  min-height: 300px;
}
.signIn h3 {
  text-align: center;
  padding: 15px;
}
.signIn #info {
  margin-left: 10%;
  margin-right: 10%;
}
.signIn #info .signInPanel {
  width: 100%;
  height: 30px;
  margin-top: 5px;
}

.signIn #info #error {
  padding-top: 15px;
  color: red;
}
.signInFail {
  color: red;
}
/* #begin{

  display:flex;
  flex-direction: column;
  align-content: space-between;
  margin:0;
} */
#main-footer {
  display: flex;
  /* align-content: flex-end; */
  background-color: #333;
  min-height: 50px;
}
#main-footer p {
  padding-top: 10px;
  text-align: center;
  color: #fff;
  font-weight: bolder;
}

@media (max-width: 1100px) {
  #templates {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 700px) {
  #sectionArea p {
    margin: 0%;
    padding-top: 20%;
    padding-bottom: 15px;
    font-size: 40px;
  }
  #templates {
    grid-template-columns: 1fr;
  }
  .signIn {
    margin-left: 10%;
    margin-right: 10%;
    width: 300px;
  }
  .signIn #info {
    margin-left: 15%;
    margin-right: 15%;
  }

}
